<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UMG_Progra1.Properties.Settings.conexion" connectionString="Data Source=DESKTOP-19LCOC9\SQLEXPRESS01;Initial Catalog=umg;Integrated Security=True;MultipleActiveResultSets=true"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>